<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Here are some links to help you start: </h2>

<a routerLink="/marketing/marketing"> 
  <button class="btn btn-success pull-right" > Marketing</button>
</a>
<a routerLink="/auth/login"> 
  <button class="btn btn-success pull-right" > Login</button>
</a>
<a routerLink="/dashboard/main"> 
  <button class="btn btn-success pull-right" > Dashboard</button>
</a>